# Entornos virtuales
venv/
.env

# Archivos de credenciales
*.env
credenciales_telegram.env

# VSCode
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
test.py

# Mac / Windows
.DS_Store
Thumbs.db
